
$body-color: slateblue;

body {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;

  font-family: sans-serif;
  padding: 0;
  margin: 0;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }

  &.fixed {
    overflow:hidden;
  }
}

img {
  max-width: 100%;
} 

.flex-container {
  display: flex;

  &.flex-end {
    justify-content: flex-end;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-center {
    justify-content: center;
  }
} 

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scenes {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;

  position: fixed;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .content-container {
    top: 20%;
    position:relative;
  }
}

.scene1 {
  // display: none;
  background-image: url('./public/scene1-bg.png');

  &.scene-hidden {
    opacity: 0;
    visibility: hidden;
  }

  
  .title {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 700px;

    @media screen and (max-width: 991px) {
      width: 100%;
      font-size: 2.3rem;
    }

    margin: auto;
    color: white;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
  }

  #progress-bar {
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 0;

    @media screen and (max-width: 991px) {
      width: 300px;
      height: 300px;
    }
  }
}



.scene2 {
  // display: none;
  background-image: url('./public/scene2-bg.png');

  &.scene-hidden {
    opacity: 0;
    visibility: hidden;
  }
  

  .title {
    font-size: 4rem;
    color: white;
    text-align: center;
  }

  .action-container {
    text-align: center;

    #next-action {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        font-size: 2rem;
    }
  }
}



.scene3 {

  article {
    position: relative;
  }

  &.scene-hidden {
    opacity: 0;
    visibility: hidden;
  }
  

  .main-banner {
    margin-top: -2rem;
    margin-bottom: 8rem;

    .centered-title {
      text-decoration: underline;
      font-size: 4rem;
      bottom: 20%;
      color: white;

      @media screen and (max-width: 991px) {
        font-size: 2.5rem;
        bottom: 0;
      }
    }
  }


  .centered-title {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        text-align: center;
  }


  .secondary-banner {
    margin: 5rem 0;
    padding: 5rem 0;
  }

  .second-banner {
    .content {
      max-width: 70%;
    }

    .negative-title-container {
      position: absolute;
      z-index: 1;
      margin-left: -250px;
      width: 300px;

      @media screen and (max-width: 991px) {
        margin-left: 0;
        left: 10px;
      }
    }

    .title {
      color: black;
      font-size: 3rem;
    }
    
  }

  .third-banner {
    .centered-title {
      width: 700px;
      font-size: 2rem;
      bottom: 30%;
      color: white;
      margin: auto;

      @media screen and (max-width: 991px) {
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }


  .fourth-banner {
    .content {
      max-width: 70%;
      
      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    .title {
      font-size: 2.5rem;
      width: 80%;
      line-height: 1.3;

      @media screen and (max-width: 991px) {
        margin: auto;
      }
      
    }
  }

  .fifth-banner {
    .content {
      max-width: 70%;
    }
  }

  .sixth-banner {
    .content {
      max-width: 70%;
    }
  }

  .seventh-banner {
    margin-bottom: 0;

    &.bg-equipped {
      background-image: url('./public/scene3-bg5.png');
    }

    &.bg-unequipped {
      background-image: url('./public/scene2-bg.png');
    }

    .content-container {
      width: 700px;
      margin: 2rem auto;
      text-align: center;
      
      @media screen and (max-width: 991px) {
        width: 90%;
        margin: auto;
      }
    }

    .title-container {
      color: white;
    }

    .circle-btn {
        border-radius: 50%;
        border: 1px solid white;
        width: 100px;
        height: 100px;
        display: inline-block;
        line-height: 1;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: white;
        text-transform: lowercase;
        position: relative;
        opacity: .5;

        &.circle-btn-active {
          opacity: 1;
        }

        // TODO: Fix vertical align, this can produce an overflow issue.
        span {
          position: absolute;
          left: 0;
          right: 0;
          top: 40%;
      }
    }
  }
}